### Importing relevant libraries

In [1]:
import pandas as pd
import numpy as np

#### Reading the table from wikipedia using pandas

In [2]:
raw=pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df=pd.DataFrame(raw[0])
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

#### Removing not assigned Boroughs

In [3]:
df_clean=df.copy()
df_clean.drop(index=df[df['Borough']=='Not assigned'].index, inplace=True)

#### Checking for any error figures in cleaned table

In [4]:
df_clean.isnull().sum()  #The result shows no further errors in the table

Postal Code     0
Borough         0
Neighborhood    0
dtype: int64

#### Displaying the dataframe

In [5]:
#Resetting the index of the cleaned table

df_clean.reset_index(drop=True, inplace=True)
df_clean.head(12)

,Postal Code,Borough,Neighborhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
5,M9A,Etobicoke,Islington Avenue
6,M1B,Scarborough,"Malvern, Rouge"
7,M3B,North York,Don Mills
8,M4B,East York,"Parkview Hill, Woodbine Gardens"
9,M5B,Downtown Toronto,"Garden District, Ryerson"
10,M6B,North York,Glencairn
11,M9B,Etobicoke,"West Deane Park, Princess Gardens, Martin Grov..."

#### Number of rows in the dataframe

In [6]:
print(f'Total number of rows in the dataframe amounts to {df_clean.shape[0]}.')

Total number of rows in the dataframe amounts to 103.